.pull-right {
    float:right;
}

.row-two {
    display: grid;
    grid-template-columns: 1fr 5fr 2fr;
    height: 80vh;
    background-color: #ffffff;
}


.containter-padding{
    margin: 12px;
    border: 1px dashed #0111f7;
}

.table-one {
    width: 100%;
    border: 1px solid rgb(111, 235, 252);
}

.table-one > tbody > tr > td {
    border: 1px solid rgb(94, 247, 239);
    min-height: 50px;
    padding: .5em;
}

.add-button {
    font-size: bold;
}